<% provide(:title, 'Colophon') %>
  
   <div id="homepage">
    <div class="span4">
      <h5>Colophon</h5>


          <h3> The Tech Stack</h3>
            <div class="paragraph">
            Here are a few aspects of the tech stack; if you are familiar with these, have a vision for ecological urban planning, have some extra bandwidth, and want help build something cool ... please  <%= link_to "drop a line", 'mailto:info@ecosteader.com' %> to chat. </div>       
    </div>
    <div class="span4">
          <ul>
            <li> Ruby on Rails </li>
            <li> Phusion Passenger </li>
            <li> Ember JS &amp; Sassy CSS </li>
            <li> Github </li>
            <li> PostGRES </li>
            <li> Linode </li>
          </ul>  
                  
    

     </div> 


</div>