<% provide(:title, 'Contact') %>

<div id="homepage">
	<div class="span2"></div>
 	<div class="span10">
 		<h5>Contact</h5>
		    <div class="paragraph">
            <h4>Yep, this is sparse for now.  More info coming soon! <br />
				<div class="btn btn-primary btn-large"><%= link_to 'Contact', 'mailto:info@ecosteader.com' %></div>
			</div>
	</div>
</div>	