<% provide(:title, 'Press') %>

   <div id="homepage">
   <div class="span12">

   <h2>Share Ecosteader's mission; get a decal or two or three. </h2>

        <h4>To advertise on Ecosteader, please WRITE:  <a href="mailto:info@ecosteader.com">info - at - ecosteader.com</a> or leave a message at (971) 238-ECOS. </h2>


   </div>


   <%= link_to image_tag 'indiegogo-sized-logo.png' %>

    <div class="span4">
    </div>
  
    <div class="span5">


    </div>

</div>