<% provide(:title, 'Terms of Service') %>

<div class="paragraph">

<h1>Terms of Service</h1>

<div class="paragraph">
<p>Ecosteader & Company is an Oregon Public Benefit Company. Our Terms of Service (ToS) involve a very simple <strong>Honor Code</strong> whereby we endorse HONESTY with implicit traceability. Unfortunately, that means anyone and everyone who voted Trump in 2016 is not welcome here. Nor is any one currently or formerly associated with the National Association of Realtors (NAR) permitted to join at this time.</p>


<p><strong>For everyone else:</strong> Content on this site is free to use, adapt, and modify for your own purposes; sample templates and forms may be distributed with or without attribution. By using these forms, or a variation of them, you explicitly agree to hold Ecosteader & Company free from any and all liability that may arise from your use of them. The information provided on this website is reliable; however, it cannot be guaranteed. If you are inclined to do so, please consult with an attorney for any of your specific contract or deed nuances.</div>
