<% provide(:title, 'Sign up by invite only') %>


<div class="landpage">

 <div class="span3"></div>
  <div class="span5">


  <h1>Signups available by invite only.</h1>

  <h3>To advertise on Ecosteader, call (971) 238 ECOS. </h3> </div>

<!-- Blank this out -->

    <%#= form_for(@citizen) do |f| %>
    <%#= render 'shared/error_messages', object: f.object %>
      <%#= f.label :name %><br />
      <%#= f.text_field :name %><br />
      
      <%#= f.label :email %><br />
      <%#= f.text_field :email %><br />

      <%#= f.label :password %><br />
      <%#= f.password_field :password %><br />

      <%#= f.label :password_confirmation, "Confirm password" %><br />
      <%#= f.password_field :password_confirmation %><br />

      <%#= f.submit "Add me to the list", class: "btn btn-large btn-primary" %>
    <%# end %>
  
</div>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5682118050471345",
    enable_page_level_ads: true
  });
</script>