
<% if @node.slug == 'eco-construction' %>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B006GQY52Q&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

<% end %>


<% if @node.slug == 'weatherproofing' %>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00EZV1BRG&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00002NCJI&ref=tf_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
<% end %>

<% if @node.slug == 'energy' %>

<h2>Powering Off the Grid</h2>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00AZJTXRW&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B008KC7ZBM&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B001CZIHH0&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0015398OU&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0059GFSLQ&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00GHY0DM8&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B009IRX0US&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B005UEG4J2&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00153BEB0&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000CIADLG&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B007VPR75S&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00BSZUHRC&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0059GFSV6&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00BCRNDXG&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0015398PE&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B003VKYZN4&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00FRLDFFY&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000MSCKM6&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
<% end %>



<% if @node.slug == 'solar' %>

  <h2>Harness Solar Power for energy efficiency, or to live off the grid! </h2>  
	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00AZJTXRW&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B008KC7ZBM&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B001CZIHH0&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0015398OU&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0059GFSLQ&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00GHY0DM8&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B009IRX0US&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B005UEG4J2&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00153BEB0&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000CIADLG&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B007VPR75S&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00BSZUHRC&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0059GFSV6&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00BCRNDXG&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0015398PE&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B003VKYZN4&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="e:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00FRLDFFY&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000MSCKM6&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
<% end %>


<% if @node.slug == 'water' %>

	<h2>Eco Water Heaters</h2>
	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0085OKGHU&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B008KC93TE&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <h2>Water catching</h2>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=B001LNOQH8&asins=B001LNOQH8&linkId=GSLHUATBCAO6T5JV&show_border=false&link_opens_in_new_window=true">
</iframe>


<% end %>

<% if @node.slug == 'firepits' %>

	<h2>Outdoor Fire Pits</h2>
	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B009WXO2JG&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B001I45TBW&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000NNCGOW&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>




<% end %>


<% if @node.slug == 'flooring' %>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00A1FVKR6&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00A1FVJTA&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B007JXWTTG&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00A1FVIS2&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00AJS5OWW&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00A1FRZA2&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00DTIDTEE&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00A1FS3NA&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00DTIDTEE&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0049VIQCK&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B003XX6JC4&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


<% end %>

<%if @node.slug == 'patio-deck' %>

    <div class="paragraph">
    Many concerns should be addressed in deciding whether to go with a sustainably-harvested wood, composite decking tiles, or with some other kind of recycled material for deck purposes.  Not only should lifespan and cost of maintenance be considered, but also safety and cost of installation.  While composite decking materials generally have the longer lifespans and are lower maintenance, they might cost slightly more.  Solid wood decking can be made more ecologically sensible if FSC approved wood is used.  
    </div>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00FS3HKWA&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000TC458W&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0051RUJYO&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B005TN8O6K&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00A9Y3OR8&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000MIPSCA&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B004CNG3VQ&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B008O2K5YW&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00F4B6VR6&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B009JAJV02&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B004XNPY74&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00914FE98&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B007IKGOXW&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B008C0NTJY&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B003QMMHZU&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00A9Y3OTG&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000YAM8OM&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B008O2K5WO&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0081IP03K&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00EUH7RWI&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B002UQ8374&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0079O045G&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B004CNFSCG&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00EUH7SCC&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00DQ98PXQ&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00DQ8IXXY&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>



<% end %>

<% if @node.slug == 'deck' %>

    <div class="paragraph">
    Many concerns should be addressed in deciding whether to go with a sustainably-harvested wood, composite decking tiles, or with some other kind of recycled material for deck purposes.  Not only should lifespan and cost of maintenance be considered, but also safety and cost of installation.  While composite decking materials generally have the longer lifespans and are lower maintenance, they might cost slightly more.  Solid wood decking can be made more ecologically sensible if FSC approved wood is used.  
    </div>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0079O06JU&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00FS37OBC&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00FS3HKWA&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000TC458W&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0051RUJYO&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B005TN8O6K&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00A9Y3OR8&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000MIPSCA&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B004CNG3VQ&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B008O2K5YW&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00F4B6VR6&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B009JAJV02&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B004XNPY74&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00914FE98&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00FS3NPUQ&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B007IKGOXW&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B008C0NTJY&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B003QMMHZU&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00A9Y3OTG&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000YAM8OM&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B008O2K5WO&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0081IP03K&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00EUH7RWI&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B002UQ8374&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0079O045G&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B004CNFSCG&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00EUH7SCC&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00DQ98PXQ&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00DQ8IXXY&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

<% end %>

<% if @node.slug == 'garden' %>

    <%= link_to 'http://astore.amazon.com/ecosteader-20?_encoding=UTF8&node=10', 'Browse Eco Designs for the Garden' %>

	<h2>Browse Eco Designs for the Garden</h2>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B009EQF7EU&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0030T2JE8&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0021BR324&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00FNCPFLY&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B006MRE8LM&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0017WOFSI&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

     <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B005D8A6GM&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0065M1DW6&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00385WV1A&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0065M1IP8&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B009EQF948&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B005D8A0MW&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B008MHU7XS&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0001XLSGQ&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B007PFDUUK&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B005I4JT2S&ref=tf_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


<% end %>


<% if @node.slug == 'greenhouses-sheds' %>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B007BRX0FM&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0015SYRNM&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B002IOLNKM&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00BPO99JI&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000ZGN09W&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00FYKDLAM&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0098R8GES&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00ESBCJ9M&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0037QGR6A&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00AUL7T1M&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <h2>Self-Assembly Sheds &amp; Shelves Shipped Directly to You</h2>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0015MDRSO&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0015MF8O0&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B004Q3LDDU&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0015ZXYCU&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B001601Q6K&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B009CVVE9E&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0030T1BRE&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00A7Z6354&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>



<% end %>


<% if @node.slug == 'appliances' %>

<% end %>

<% if @node.slug == 'induction-convection-cooking' %>

    <h2> Compare Shop Induction Cooktops </h2>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0011YJE7Y&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B005VV5EVS&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0039UX1P4&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B001ASQDN4&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000OV12ES&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B002I9MEYQ&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B004BFVWKW&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B002P46E40&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00DP6BJE2&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00EU7AMX4&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0037Z7HQ0&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00CXNC6XG&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
<% end %>


<% if @node.slug == 'other' %>

        <a target="_blank" href="http://www.amazon.com/b/ref=assoc_tag_ph_1395077819638?_encoding=UTF8&camp=1789&creative=9325&linkCode=pf4&node=8591198011&tag=ecosteader-20">Shop Amazon - Reduce Your Carbon Footprint with Electric Lawn Equipment from Sun Joe </a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=ecosteader-20&l=pf4&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />


		<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B007BZ0IR2&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

		<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00DSRA1KG&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
<% end %>


<% if @node.slug == 'cabinetry-hardware' %>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B002RFV6EU&ref=tf_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
<% end %>



<% if @node.slug == 'finishing' %>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0067NJJVU&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0067NJHF8&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


	<h2>Shellac</h2>
	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000BZX67I&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00113UKQY&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B004YJ7OVQ&ref=tf_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B004YJ7LMS&ref=tf_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
 <% end %>


<% if @node.slug == 'gadgets' %>
	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B004CR37HK&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00202EMKU&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000VSTALG&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
<% end %>


 <% if @node.slug == 'furniture' %>
	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00CJFK04K&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B004MGQYI0&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00GOKJ7U4&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B006GA28XU&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
 <% end %>


 <% if @node.slug == 'heating-lighting' %>

 	
 <% end %>


<% if @node.slug == 'heating'  %>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B002BL6DR0&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B009NWAO8Y&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B009NWAMW2&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0095GCW38&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B009NWANQ2&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0095GCX46&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0095GCWRO&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B002BL806W&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

<% end %>


<% if @node.slug == 'lighting'  %>

<% end %>


<% if @node.slug == 'wind' %>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B001JBHLBA&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B005G8VCO4&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B001CZCSOS&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00FPTIZCQ&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B001JBFJZK&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00EW0S5MO&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B0012L0A5G&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00CTCM6TU&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

<% end %>


<% if @node.slug == 'inverters' %>
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B008AQS4AY&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B004TVEF8Y&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00A2F38U2&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B008BDDSKM&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00EW0S5MO&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B001A4983U&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
<% end %>

<% if @node.slug == 'batteries' %>
	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B008D5YG3G&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
<% end %>


<% if @node.slug == 'skylights' %>
	<iframe src="http://astore.amazon.com/ecosteader-20?_encoding=UTF8&node=4" width="99%" height="4000" frameborder="0" scrolling="no"></iframe>
<% end %>