<div class="span1">
 <center><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- skinny catalog index -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:120px;height:600px"
             data-ad-client="ca-pub-1067848072259866"
             data-ad-slot="9706869612"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        </center>
        </(adsbygoogle>
</div>
