<% provide(:title, 'Portland Metro-Area Professionals') %>

<div id="homepage">
 	<div class="span5">

 	<h1>Thanks!</h1>
		<div class="paragraph">

		Thanks for your payment.  Now click the button below to enter the form where you can enter your company's details, as you would like the information to appear on the website, where LOCAL customers can find you easily! Your listing should be live within 2 business days, or sooner.  


		</div>

				<div class="btn btn-large btn-primary"><%= link_to "Go to Form", "https://docs.google.com/a/ecosteader.com/forms/d/1nfmTRSyUxLLgLrjCa4QMrkyWKtg8spz3mX5qUIcr7zg" %></div>



			<div class="span1"> 
			  <center>   
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		        <!-- ecosteader greenpages land -->
		            <ins class="adsbygoogle"
		                style="display:block"
		                 data-ad-client="ca-pub-5682118050471345"
		                 data-ad-slot="8458949319"
		                 data-ad-format="auto"></ins>
		        <script>
		        (adsbygoogle = window.adsbygoogle || []).push({});
		        </script>
			  </center>

		    </div>

	</div>
</div>