<% provide(:title, 'Ecological Architecture') %>
 <div id="twocols">
    <div class="span5">
      <h5>A Virtual Library of Inspiration</h5>
          <div class="paragraph">

           <h6>Eco-Architecture &amp; Sustainable Design</h6>
              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?lt1=_blank&bc1=FFFFFF&IS2=1&bg1=FFFFFF&fc1=5F5F61&lc1=718D2D&t=ecosteader-20&o=1&p=8&l=as1&m=amazon&f=ifr&ref=qf_sp_asin_til&asins=B001GAOYMS" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=1568989504&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00CYA9CJ4&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=3037680105&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=1556438362&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B000MVKYU8&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=156158973X&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=3832792279&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=1770850414&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=1903998735&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

             <h6>Smarter, Greener Cities &amp; Communities</h6>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=047177751X&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=023010763X&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=1597268291&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=1118073835&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B007JAPEWS&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

            <h6>Homesteading Ecologically</h6>
            
              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=1580117104&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=1118024176&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=1603584447&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=161608054X&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=B00DS8D5K8&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </div>
    </div>      
    
    <div class="span4">

      <div class="paragraph">
                        
              <h6>Green Design Prefab &amp; Modular Building </h6>
                
                <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=1423604970&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

                <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=0810984830&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

                <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=0470275618&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


              <h6>Living Small for Minimal Carbon Footprint</h6>
                <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=0789320959&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

                <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=1599217953&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

                <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=8415123590&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

              <h6>Non-Traditional &amp; Smart Energy Ideas</h6>
                <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=1600851436&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


                <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=1586855166&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

                <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ecosteader-20&o=1&p=8&l=as1&asins=0865716862&ref=qf_sp_asin_til&fc1=5F5F61&IS2=1&lt1=_blank&m=amazon&lc1=718D2D&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    

           </div>  
        </div>
    </div>
</div>