<% provide(:title, 'Bookstore') %>

 <div id="homepage">
      <h5>Please disable your ad blocker to view the content on this page</h5>

      <h1>A Little Bookstore o' Ecological Design &amp; Inspiration</h1>
      
          <div class="content">

           <h6>Ecological Architecture &amp; Design</h6>

           <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=0789313499&asins=0789313499&linkId=47e24776578a3540b0f01fdbd291aefb&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
            </iframe>

            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=1603424628&asins=1603424628&linkId=bed74ea3a7505c2944391cbb35bd9d4f&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
            </iframe>


            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=1612121020&asins=1612121020&linkId=17b6d7a2c98dca08d3bec677b27d1131&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
            </iframe>

             <h6>Smarter, Greener Cities &amp; Communities</h6>

             <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=0692747524&asins=0692747524&linkId=607d5b8407236c30e5f67f602e9b0c72&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
    </iframe>

            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=047177751X&asins=047177751X&linkId=012009819423c79b9638cf4a1d8b1a29&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
    </iframe>

            <h6>Homesteading Ecologically</h6>

            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=0865718016&asins=0865718016&linkId=0d89093b3358d3625ff76128fe0408bc&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
    </iframe>


                          
<h6> Green Roofs </h6>

              <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=1604693126&asins=1604693126&linkId=cbc7e5785e21402491a0686c48d1f0a7&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
    </iframe>

              <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=1604690496&asins=1604690496&linkId=867e6f404363a238530aefaee2212093&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
    </iframe>

              <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=1604690593&asins=1604690593&linkId=38d4e5d9da7a4e6745ca77b3515c73e9&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
    </iframe>


              <h6>Green Design Prefab &amp; Modular Building </h6>

              <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=1632205955&asins=1632205955&linkId=243f485913d25ec0bf22d9e8d981417c&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
    </iframe>

              <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=161769083X&asins=161769083X&linkId=1091f18fc6b762c6b64d7881753cf9eb&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
    </iframe>
                                    
              <h6>Living Small for Minimal Carbon Footprint</h6>

                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=1597261432&asins=1597261432&linkId=34dae05ba841976bd4664055bf569258&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
    </iframe>

                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=1561580597&asins=1561580597&linkId=72369bd8911db9303862eb88c4a0fd3c&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
    </iframe>

                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=1440345465&asins=1440345465&linkId=270a6a7abf780fd0c5792c33c31ca1c6&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
    </iframe>

              <h6>Non-Traditional &amp; Smart Energy Ideas</h6>

              <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=161769083X&asins=161769083X&linkId=1091f18fc6b762c6b64d7881753cf9eb&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
    </iframe>

              <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ecosteader-20&marketplace=amazon&region=US&placement=1600595340&asins=1600595340&linkId=ea0e7cb9e60ba4e93f78781dfb2d8ca1&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=8bc000&bg_color=ffffff">
    </iframe>
    
    </div>
</div>