<% provide(:title, 'Deeds') %>

	<div id="homepage">
 	<div class="span5">
 		<h5>Kinds of Deeds</h5>


 			<div class="paragraph">
 				This content for this page is being developed <%= link_to 'open-source on github', 'https://github.com/indie/deeds' %>.  More info coming soon.<br />

                <br />


 				Legal lingo is half the battle.  The main thing to remember is that buried in all that legal speak is a promise of warranty -- who? how much? how far back?</div>  
			

 		    <h6>Warranty Deed</h6>

            <h6>Special Warranty Deed</h6>
             
    </div>
    <div class="span4">		

            <h6>Limited Warranty Deed</h6>
             
	        <h6>Quitclaim Deed</h6>
			

    </div>      

	<div class="span1"> 
	  <center>   
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ecosteader greenpages land -->
            <ins class="adsbygoogle"
                style="display:block"
                 data-ad-client="ca-pub-5682118050471345"
                 data-ad-slot="8458949319"
                 data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
	  </center>

    </div>

</div>

