 <div class="span12">
    <div style="padding:0 15px">
      <div class="row-fluid">
        <div class="span5">
          <div class="byline"> 
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
          </div>

      <div id="google_translate_element"></div><script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'fi,hi,ja,kn,mn', layout: google.translate.TranslateElement.FloatPosition.BOTTOM_RIGHT}, 'google_translate_element');
        }
        </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <h1>I.  Lot Plan Considerations</h1>

            <div class="paragraph">The best way to begin is to have a look the site with an <em>ecosteader's</em> perspective. This means <u>first</u> envisioning how the existing nature-made landscape can be used to inspire and be integrated into the whole of the habitat.  The human part habitat or space can benefit to the landscape as a whole when we approach it with an attitude helpful symbiosis. </div>

            <div class="paragraph">  Rather than using noisy, loud machines and bulldozing the 
            terrain to make way for the nuances of a drawing by some architect who has never 
            seen the property, it's a far better to approach to go in from the very beginning with 
            an ecologically-inclined perspective. This means planning the outdoor living space as it 
            will be used <em>first</em>, and working backwards, maintaining flexibility with details 
            toward the indoor living plans. </div>

            <div class="paragraph">A great place to begin is with a well-detailed <strong>Lot Plan</strong> that makes note of the following features:</div>

            <h2>A. Plantings</h2>
              <ul>
                <li><b>Native plants</b> -- identify and decide whether/how to preserve; usually it's a good idea to keep some native plants for soil and erosion concerns.  Native plants also require less watering because they are naturally "in tune" with the local climate.  It's OK to move plants to another place
                on the lot, if that means they'll have more room to breathe and grow.</p> </li>
                <li>Additional plants / landscaping -- aesthetic appeal is only part of the picture.</p>
                <li>Make note and remember that existing and future plantings will set the stage for the immediate outdoor climate, which has a direct effect on the indoor climate -- which direction gets the most morning sun? The most afternoon sun?</p>
                <li>Watering and drainage direction for existing and future plantings?</p>
              </ul>
          
          <h2>B. Geology</h2>
            <ul>
              <li>Slopes, drainage, erosion concerns?</p>
              <li>Elevation changes?  These can be very usefully used for watershed...<%= link_to 'Fernhill Wetlands Project', 'http://www.fernhillnts.org/' %> for a local example. </p> </li>
              <li>Soil type</p>
            </ul>
          <h2>C. Orientation</h2>
              
              1.  Solar orientation <br />
              <ul>
                  <li>Maximize winter sun -- do mature planting affect or change this?</li>
                  <li>Minimize summer heat -- do mature plantings affect or change this?</li>
                  <li>Solar panels + access</li>
                  <li>Green roofing? </li>
                </ul>
              2.  Wind <br />
              3.  Views and future developments<br />
              4.  Other (Feng Shui, meditation space, etc) <br />

          <h2>D.  Utilities</h2>
          <ul>
              <li>On or off the "Grid" power (box + access to box) &amp; power storage</li>  
              <li>Water hookups from the street or city?  From a well?  Haul in water for a tank?</li>
              <li>Sewer, septic or cess pool?</li>
              <li>Natural gas</li>
              <li>Geothermal resources, if any</li>
          </ul>

          <h2>E.  Outdoor Living and Storage Areas</h2>
          <ul>
              <li>Compost pile/bin -- proximity to garden? proximity to house? </li>
              <li>Garden and Garden tool storage</li>
              <li>Trash and recycling storage -- what's the proximiity to kitchen?  Do you have to go out through snow to take out the trash?</li>
              <li>Outdoor entertaining space -- deck / patio / firepit / etc.</li>
              <li>Storage for outdoor / garden tools</li>
              <li>Electrical outlets</li>
              <li>Areas vulnerable to wildlife (deer, birds, squirrels, etc) -- are they welcome, or unwanted?</li> 
              <li>Lighting for outdoor living areas</li>
              <li>Automobile storage</li>
              <li>Automotible charging station (electric vehicles)</li>
              <li>Recreational equipment storage</li>
              <li>Fencing or borders for privacy + paths </li>
              <li>Postal Mail service (USPS, etc)</li>
            </ul>

          <h2>F.  Indoor Living / Dwelling </h2>
          <div class="paragraph">At this stage, it's best to just have a general size and shape with the main utility access points noted; details of the indoor space -- except for, perhaps, windows, should not be outlined on the lot plan
            <div class="sublist">
            1.  Square footage <br />
            2.  Style of dwelling <br />
            3.  Access + flow <br />
            4.  Common mistakes in design</div>
              <ul>  
                  <li>no easy access from automobile parking -> kitchen</li>
                  <li>no easy access from back yard or play area -> bathroom (for children or guests)</li>
                  <li>laundry area located where noise disrupts living space</li>
                  <li>windows above tub/shower -- the nooks + crannies of window design can accelerate the production of mold + rot  </li>
                  </ul>
            </div> 
            
       </div><!-- end span4 -->
      
      <div class="span5">


        <h1>II.  Foundation Plan Considerations</h1>
            <div class="paragraph">A <strong>Foundation Plan</strong> shows how the structure will be attached to the earth; specifically how the footers, foundation, and sill all fit together.  In general, the foundation will sit upon a footer which has been carefully engineered for a specific site.  The footer is a vital and essential aspect of construction that helps distribute the weight of the structure over a large enough area of ground such that pockets of settling don't occur. </div>
            <h2>A. Footings</h2>
              <div class="paragraph">Building <em>footings</em>, sometimes called <strong>footers</strong>, help a structure establish proper posture. These are, quite literally, the pressure points of lode-bearing weight.  Just as yoga teachers stress proper footing for posture and alignment of the spine (and thus the skeleton), so too can properly-engineered footers strengthen and lengthen the durability of a building, helping it stand up better to the elements and time.</div>
              <div class="sublist">
                1.  Things that can disturb footings:
                <ul>
                    <li>Geological events</li>
                    <ul><li>earthquakes</li>
                          <li>erosion or landslides</li></ul>
                    <li>Geological conditions</li>
                    <ul><li> sinkholes</li>
                          <li> lack of bedrock</li>
                          <li> high water tables</li>
                          <li> proximity to a body of water</li>
                          <li> proximity to a flood plain</li></ul>
                    <li>Atmospheric events</li> 
                    <ul><li>tornadoes</li>
                          <li> hurricanes</li>
                          <li> high-wind or annual blizzard conditions</li></ul>
                    <li>Atmospheric conditions</li>
                    <ul><li>drastic changes in climate between winter and summer, causing the earth itself to expand and contract abnormally</li>
                          <li>high-humidity environments</li></ul>
                    <li>Soil conditions</li> 
                      <ul><li>the presence of organic material in the soil which will eventually rot.  For example: building on a site that has an extensive root system underneath is not ideal.  The roots will eventually die and rot, which may create a "cave-in" situation underneath the ground.  Extra care should be taken to place footings where the earth is solid.</li>
                          <li>soil that is extremely weak or loamy</li>
                          <li>recently moved earth -- this soil has not had time to settle and compact, and placing weight upon loose soil will eventually cause it to </li> </ul>
                    <li>Other</li>
                      <ul>proximity to railroads or freeways which emit vibrations in the earth, wearing down footers and foundations more quickly<li>      
                  </ul>
                </div>
                <div class="sublist">
                2.  Simultaneous considerations while the footer / foundation is being installed should be taken into account.  Depending on the type of foundation, these can be very labor-intensive and costly to repair or re-route, once the foundation is set:
                <ul>
                    <li> drains </li>
                    <li> sewer/septic </li>
                    <li> water </li>
                    <li> gas lines </li>
                    <li> electric </li>
                    <li> phone and data networking cables </li>
                    <li> radiant heating systems </li>
                  </ul>
                </div>   
           
        </div>
                
        <div class="span1"> 
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Ecosteader Eyes -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:120px;height:600px"
               data-ad-client="ca-pub-1067848072259866"
               data-ad-slot="6688911612"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>


      </div>
    </div>
</div>
