<div class="span3">

      <div id="tag_cloud">
        <% tag_cloud Idea.tag_counts, %w{s m l} do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
      </div>
  
  </div>

  <div class="span6">
     <div class="feed">
        <h3>Recent Contributions</h3>

          <ol class="ideas">
          <%= render partial: 'shared/feed_item', collection: @feed_items %>
          </ol>

      </div>
    </div>
