<% provide(:title, 'Taxes, CCRs, POAs') %>

 <div id="homepage">
 	<div class="span4">
 		<h5>Taxes</h5>
 		    <h6>Property Taxes</h6>
                <div class="paragraph">
                 Most properties require annual or semi-annual tax payments payable to local county governments; the amounts payable each year are based on the <strong>Tax Assessed Value -- TAV</strong>. <p></p> A TAV is <em>not</em> the same as the <strong>Fair Market Value -- FMV</strong>; properties with high TAV are usually more costly more to maintain.
                 </div>
            <h6>Capital Gains Taxes</h6>
                 <div class="paragraph">
                 There are always tax considerations to be aware of when buying and selling assets -- either for personal or investment purposes.  Please <%= link_to 'research', 'http://www.irs.gov/uac/Ten-Important-Facts-About-Capital-Gains-and-Losses' %> them thoroughly, and speak to a tax advisor regarding the net effect of personal and investment property on your tax bill.</div>   
    </div>                   
 
    <div class="span4">

        <h5>Conditions, Covenants, &amp; Restrictions</h5>
             <h6>CCR's</h6>
             <div class="paragraph">
             Some deeded land parcels have restrictions placed on them by previous title holders; these can reduce the value of the land, and can limit your ability to use land as you wish, so please do a thorough title search, and check with your local county for the most current information.</div>

        <h5>Property Owner's Associations</h5>
            <h6>POA's</h6>
             <div class="paragraph">
             Depending on the location of your land and how well it has been developed, there may be additional dues or fees <em>not</em> regulated by law.  These fees are usually paid to subdivision developers or local POAs or HOAs (Home Owners' Associations) which already exist in exchange for basic shared infrastructure.  POA fees are sometimes much higher than property taxes and tend have negative effects on the value of the land; this is because unregulated Realtor companies often "manage" POAs and use property owners' money
             to draw their own salaries.       
             </div> 
    </div>      


	<div class="span2">   

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5682118050471345",
    enable_page_level_ads: true
  });
    </script>

    </div>


</div>


