<% provide(:title, 'Urban Design') %>

 <div id="twocols">
    <div class="span6">
        <h5>Urban Design</h5>
          <div class="paragraph">
          As in fashion, trends in architecture and urban design change.  Urban design today is about <em>more</em> than designing what we once thought were the cities of the future -- vast expanses of concrete and glass, sterile spaces of cold industry.     
          </div>     

    </div>
    
    <div class="span6">
    	<h3>Cities of the Future are Smart</h3>

    	<div class="paragraph">
    	Did you know that every single hour of the day <%= link_to 'New York City produces waste that weighs as much as the Statue of Liberty?', 'http://www.wired.co.uk/news/archive/2012-09/24/urban-sustainability-cities' %>  Knowing what we know, how can we use smart technology to not only minimize waste-producting activities, but to waste less energy getting rid of that waste?</div>
       
        <%= link_to image_tag('dockside.jpg'), 'http://docksidegreen.com/index.php' %>
        <span class="caption">Image courtesy of <%= link_to 'Dockside Green', 'http://docksidegreen.com/index.php' %>, the first carbon-neutral city</span>  


        <div class="paragraph">
		At Dockside Green, for example, waste treatment is self-contained, and 100 percent of waste is treated on-site.  Treated water is reused to flush toilets and irrigate gardens. A biomass-gasification plant turns wood waste into energy for heat and hot water.        
        </div>
  
    </div>

</div>