<% provide(:title, 'Zoning') %>

 <div id="homepage">
 	<div class="span4">

    <h5>Zoning</h5>
 	  <div class="paragraph">
 			Details vary widely by county and city regulations, but there are general categories.  The following is a brief introduction to various zoning nomenclature, and is meant for informational purposes only:
        </div>

 	      <h5>Residential</h5>

 		    <h6>Single family Residential</h6>
     		    <div class="paragraph">
     		    	
     		    </div>

   		    <h6>Multi-family Residential</h6>
     		    <div class="paragraph">
     		    	
     		    </div>

            <h5>Commercial</h5>
             <div class="paragraph">
            </div>

    </div>
    
    <div class="span4">        

          <h5>Form-Based Codes</h5>
            <div class="paragraph">
            A form-based code (FBC) is a means of regulating development to achieve a specific urban form. Form-based codes create a predictable public realm by controlling physical form primarily, with a lesser focus on land use, through municipal regulations.</div>

            <div class="paragraph">
            Form-based codes are a new response to the modern challenges of urban sprawl, deterioration of historic neighborhoods, and neglect of pedestrian safety in new development. Tradition has declined as a guide to development patterns, and the widespread adoption by cities of single-use zoning regulations has discouraged compact, walkable urbanism. Form-based codes are a tool to address these deficiencies, and to provide local governments the regulatory means to achieve development objectives with greater certainty.
            </div>    
    </div>

    <div class="span2">


        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5682118050471345",
            enable_page_level_ads: true
          });
        </script>

         
    </div>      


</div>


