
#landpage-container {
    height: auto;
    margin-left: 30px;    
    .logo  {
    padding-right: 7%;
    margin: 2px;
    z-index: -5;
    -webkit-overflow-scrolling: touch;
  .span4 {
    width: 30%;
    margin-left: 2px;
   }
   
.landpage-content {
  padding: 10px;
  height: auto;
  float: right;
  margin-right: 7px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  
    } 
  }
}

.caption {
   font-size: 81%;
	color: #515153;
	margin: 2px;
		}